.register {
    &__inner {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    .register-header {
        background-image: url("public/images/register-banner.png");
        height: inherit;
        background-repeat: no-repeat;
        background-position: center; /* Căn giữa */
        background-size: cover; /* Để hình nền phủ đầy phần tử */
    }
    .register-form {
    }
    .register-form {
        display: flex;
        flex-wrap: wrap; /* Cho phép xuống dòng nếu không đủ không gian */
        gap: 10px; /* Khoảng cách giữa các ô nhập liệu */
    }

    .input-username,
    .input-password,
    .input-repassword {
        flex: 1; /* Mỗi ô chiếm đều không gian */
        min-width: 300px; /* Đặt chiều rộng tối thiểu để tránh ô quá nhỏ */
    }
}
