.content-admin {
    margin: 0 auto;   /* Căn giữa trong container */
    background-color: #f8f9fa; /* Màu nền cho content */
    padding: 20px; /* Thêm khoảng cách bên trong */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Bóng nhẹ */
    border-radius: 8px; /* Bo tròn các góc */
    margin-left: 240px;
}
.container-fluidd {
    background-color: #e7e7e7;
    height: 100%;
    /* height: calc(100vh - 60px); */
    overflow-y: auto; /* Cho phép cuộn dọc */
    padding: 0;
}
.row_admin {
    display: flex;
}
.header_admin {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 777;
    background-color: red;
    margin-left: 240px;
}
.pt_35px {
    padding-top: 35px;
}
