.content-admin {
    margin: 0 auto;   /* Căn giữa trong container */
    background-color: #f8f9fa; /* Màu nền cho content */
    padding: 20px; /* Thêm khoảng cách bên trong */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Bóng nhẹ */
    border-radius: 8px; /* Bo tròn các góc */
    margin-left: 240px;
}
.container-fluidd {
    background-color: #e7e7e7;
    height: 100%;
    /* height: calc(100vh - 60px); */
    overflow-y: auto; /* Cho phép cuộn dọc */
    padding: 0;
}
.row_admin {
    display: flex;
}
.header_admin {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - 240px);
    height: 60px;
    z-index: 777;
    margin-left: 240px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.pt_35px {
    padding-top: 35px;
}
.container_header_admin {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: flex-end;
    height: 60px;
}
.flex_header_admin {
    display: flex;
    align-items: center;
    gap: 20px;
}
.img_icon_person {
    cursor: pointer;
}
.block_thongtin{
    display: flex;
    align-items: center;
    gap: 5px;
}