.layoutThongBao{
  position: fixed !important;;
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(139, 132, 132, 0.0) !important;
  top: 0px;
  left: 0px !important;
  animation: slideDown 0.3s forwards; /* Thêm animation */
}

/* Animation trượt xuống */
@keyframes slideDown {
  0% {
    top: -100%; /* Bắt đầu từ trên ngoài màn hình */
  }
  100% {
    top: 0; /* Cuối cùng di chuyển đến vị trí ban đầu */
  }
}

.hopThoai {
  background-color: #FFFFFF;
  width: 400px;
  border-radius: 15px; /* Bo góc hộp thoại */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Đổ bóng cho hộp thoại */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.displayMessage{
  color: black !important;
  height: 80px;
  text-align: center;
  line-height: 1.5;
}


.buttonHopThoai {
  height: 50px; /* Thay đổi chiều cao nút */
  display: flex;
  column-gap: 10px;
  justify-content: center;

}

.buttonHopThoai button {
  padding: 10px 20px; /* Thêm padding cho nút */
  border: none; /* Xóa viền */
  border-radius: 5px; /* Bo góc nút */
  background-color: #28A745; /* Màu nền nút */
  color: white; /* Màu chữ nút */
  font-size: 18px; /* Kích thước chữ nút */
  cursor: pointer; /* Con trỏ khi hover lên nút */
  transition: background-color 0.3s; /* Hiệu ứng chuyển màu nền */
}

.buttonHopThoai button:hover {
  background-color: #218838; /* Màu nền khi hover */
}

.itemHopThoai {
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px; /* Kích thước chữ cho thông điệp */
  color: #FFFFFF; /* Màu chữ cho thông điệp */
  border-bottom-left-radius: 15px !important;
  border-bottom-right-radius: 15px !important;
}
