.flightDetail {
    margin-top: 50px;
    &__inner {
        padding: 0px 20px;
        background: #fff;
        border-radius: 10px;
    }
    &__flight {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        &--bound-information {
            display: flex;
            gap: 10px;
            padding: 20px 0px;
            width: 100%;
            border-bottom: 1px solid var(--color-border-main);
        }
        &--text {
        }
        &--time {
        }
        &--bound {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 10px;
            padding: 20px 0px;
            &-timeline {
            }
            &-details {
            }
            &-fare {
            }
        }

        &--breakdown {
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.5s ease;
            &-details {
                height: 300px;
            }
            &-fare {
            }
        }
    }
}
.container.expanded .flightDetail__flight--breakdown {
    max-height: 400px; /* Đặt giá trị max-height lớn hơn để hiển thị khi mở rộng */
}
