.title {
    text-align: center;
    margin: 20px 0;
    font-size: 24px;
    font-weight: bold;
}

.menu-search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
    margin-bottom: 20px;
}

.input-search {
    flex: 1;
    margin-right: 10px;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-search {
    margin-left: 10px;
    height: 40px;
    border-radius: 10px;
}

.form-time {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}

input[type="localdate"] {
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

.search-by-create-time {
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
}

.search-by-create-time .form-time {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    flex: 1;
}

label {
    margin-bottom: 5px;
}
.btn-create-time {
    height: 50px;
    width: 100px;
    margin-left: 10px;
}
.actions {
    width: 150px;
}
.add-button {
    margin-left: 10px;
}
.pagination pagination-lg {
    margin: auto;
}
.btn-phan-trang {
    width: 30px;
    height: 30px;
    text-align: center;
    background-color: #ffff;
}
.pagination-container {
    display: flex;
    justify-content: center; /* Căn giữa theo chiều ngang */
    margin: 20px 0; /* Thêm khoảng cách trên và dưới */
}

.pagination {
    display: flex; /* Đảm bảo các nút phân trang nằm trên một hàng */
    list-style: none; /* Loại bỏ dấu chấm */
    padding: 0; /* Xóa padding mặc định */
}

.page-item {
    margin: 0 5px; /* Thêm khoảng cách giữa các nút */
}

.page-link {
    text-decoration: none; /* Xóa gạch chân */
    padding: 8px 12px; /* Thêm padding cho nút */
    border: 1px solid #007bff; /* Đường viền cho nút */
    border-radius: 4px; /* Bo góc nút */
    color: #007bff; /* Màu chữ */
}

.page-link:hover {
    background-color: #007bff; /* Màu nền khi hover */
    color: white; /* Màu chữ khi hover */
}
.table tbody td {
    text-align: center; /* Căn giữa nội dung trong ô */
    vertical-align: middle; /* Căn giữa theo chiều dọc */
}

.permission-button-container {
    display: flex;
    justify-content: center; /* Căn giữa theo chiều ngang */
    align-items: center; /* Căn giữa theo chiều dọc */
    height: 100%; /* Đảm bảo nút chiếm toàn bộ chiều cao ô */
}
.form-insert {
    display: flex;
    flex-direction: column;
    width: 895px;
}
.form-insert .invalid-feedback {
    color: red; /* Màu chữ cảnh báo */
    font-size: 14px; /* Cỡ chữ nhỏ hơn */
}
.form-insert .form-control {
    width: 100%;
}