.title {
    text-align: center;
    margin: 20px 0;
    font-size: 24px;
    font-weight: bold;
}

.menu-search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
    margin-bottom: 20px;
}

.input-search {
    flex: 1;
    margin-right: 10px;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-search {
    margin-left: 10px;
    height: 40px;
    border-radius: 10px;
}

.form-time {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}

input[type="localdate"] {
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

.search-by-create-time {
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
}

.search-by-create-time .form-time {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    flex: 1;
}

label {
    margin-bottom: 5px;
}
.btn-create-time {
    height: 50px;
    width: 100px;
    margin-left: 10px;
}
.actions {
    width: 150px;
}
.add-button {
    margin-left: 10px;
}