.xuat_excel_componet {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);

    .title_input {
        font-size: 17px;
        font-weight: 600;
        padding: 15px;
    }
    .container_excel {
        display: flex;
        align-items: center;
        gap: 20px;
    }
}