.home-header {
    margin-top: -100px;
    // background-image: url("public/images/home.png");
    width: auto;
    background-repeat: no-repeat;
    background-position: center; // Căn giữa theo chiều ngang và dọc
    background-size: cover; // Đảm bảo ảnh phủ kín chiều rộng hoặc chiều cao mà không bị méo
    text-align: center;
    &__inner {
        position: relative;
        z-index: 10px;
    }

    &--background {
        width: 100%;
        height: 800px;
        object-fit: cover;
    }

    .booking-form {
        position: absolute;
        padding: 20px;
        bottom: 50px;
        background-color: #ffffff;
        border: 1px solid #e0e0e0;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        :focus {
            border: none;
        }
        &__header {
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            &--heading {
                color: var(--color-primary-dark);
            }
        }
        @keyframes shake {
            0% {
                transform: rotate(0deg);
            }
            25% {
                transform: rotate(-5deg);
            }
            50% {
                transform: rotate(5deg);
            }
            75% {
                transform: rotate(-5deg);
            }
            100% {
                transform: rotate(0deg);
            }
        }

        .shake {
            animation: shake 0.5s infinite;
        }

        label {
            display: block;
            margin-bottom: 8px;
            font-weight: 600;
            color: #555;
        }

        .input__inner {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 58px;
        }

        .input__book {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 62px;
            border: 2px solid var(--color-border-main);
            position: relative;
            .swap__airport {
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                top: 18px;
                left: 210px;
                border-radius: 999px;
                background: var(--color-secondary-light);
                width: 25px;
                height: 25px;
                z-index: 2;
                .swap__img {
                }
            }
        }

        .input__form {
            width: 222px;
            height: 58px;
            outline: none;
        }

        .input__form_2 {
            width: 111px;
            height: 58px;

            outline: none;
        }
        .input-field {
            position: relative;
            border-right: 2px solid var(--color-border-main);
            input,
            .ant-input {
                border: none;
                height: 58px;
                font-size: 16px;
                outline: none;
                padding: 15px 0px 0px 15px;
                color: #000;
                font-size: 16px;
                font-weight: 500;
                line-height: 30px;
                border-radius: 1px;
                background: #f9fafb;
            }
            label {
                position: absolute;
                top: 10px;
                left: 15px;
                z-index: 2;
                color: var(--Gray-4, #6d717f);
                font-size: 14px;
                font-weight: 500;
            }
        }

        .trip-type {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin: 20px 0px;
            label {
                margin-right: 20px;
                font-weight: 500;
                color: #333;
            }
        }

        button {
            width: 160px;
            height: 50px;
            background-color: var(--color-secondary-dark);
            border: none;
            border-radius: 4px;
            color: white;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            margin-left: 20px;
        }
    }
    .error-message {
        background: #fef3f2;
        padding: 15px;
        border-radius: 40px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        color: red;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 20px;
        gap: 10px;
        &--text {
            font-size: 18px;
            font-weight: 300;
        }
    }
}
.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5); // Màu nền mờ
    z-index: 1000;
}
.service {
    margin-top: -3px;
    &__inner {
    }
    &__list {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__item {
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 141px;
        min-height: 92px;
        gap: 10px;
        padding-top: 5px;
        border-radius: 0px 0px 20px 20px;
        border: 1px solid var(--color-border-main);
        cursor: pointer;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
    &__item:hover {
        transform: translateY(-10px);
        box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
    }
    &__icon {
    }
    &__title {
        color: var(--Gray-4, #6d717f);
        text-align: center;
        /* B2. Body */
        font-family: "Maven Pro";
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px; /* 150% */
    }
}

.banner-explore {
    margin-top: 50px;
    &__inner {
        background-image: url("public/images/banner-explore.png");
        background-repeat: no-repeat;
        height: 110px;
        object-fit: cover;
        position: relative;
        z-index: 1;
        display: flex;
        justify-content: space-between;
        padding: 20px 36px;
        align-items: center;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.2);
            z-index: -1;
            border-radius: 20px;
        }
    }

    &__section {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 8px;
        flex-direction: column;
    }
    &__heading {
        color: #fff;
        font-size: 32px;
        font-weight: 600;
        line-height: 38px;
    }
    &__desc {
        color: #fff;
        font-size: 20px;
        font-weight: 600;
        line-height: 28px;
    }
    &__action {
        width: 125px;
        height: 50px;
        border-radius: 10px;
        background: var(--Primary-1, #00558f);
        text-align: center;
        color: var(--Colors, var(--Surface-Color-surface-white, #fff));
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        border: none;
        cursor: pointer;
    }
}

.news {
    height: 68px;
    margin-top: 50px;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid var(--color-border-main);
        border-radius: 10px;
        background: #fff;
        position: relative;
    }
    &__header {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 130px;
        gap: 10px;
        padding: 15px 0px;
    }
    &__heading {
        color: var(--Primary-1, #00558f);
        font-size: 20px;
        font-weight: 500;
        line-height: 24px; /* 150% */
    }

    &__action {
        padding: 0 20px;
    }
    &__btn {
        width: 157px;
        height: 50px;
        color: var(--Primary-4, #2979af);
        font-size: 16px;
        font-weight: 500;
        border-radius: 10px;
        background: #f2f4f7;
        line-height: 24px; /* 150% */
        border: none;
    }
    &__date {
        font-weight: 400;
        font-size: 14px;
        color: #667085;
    }
    &__title {
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        text-decoration-line: underline;
        color: #00558f;
        cursor: pointer;
    }
    .news_num-slide {
        position: absolute;
        top: 25px;
        right: 218px;
        z-index: 2;
        color: #667085;
    }
    .Carousel {
        width: 800px;
        padding: 0 20px;
        border-left: 1px solid var(--color-border-main);
    }
}

.portlet {
    margin-top: 50px;
    &__inner {
    }
    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__heading {
        color: #000;
        font-size: 32px;
        font-weight: 600;
        line-height: 38px; /* 118.75% */
    }
    &__content {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    &__left {
    }
    &__right {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
    }
    &__item {
        position: relative;
    }
    &__img {
    }
    &__action {
        position: absolute;
        bottom: 35px;
        right: 30px;
        color: #fff;
        font-size: 18px;
        font-weight: 600;
        line-height: 28px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        &::before {
            content: "";
            width: 130px;
            height: 2px;
            flex-shrink: 0;
            background: #fff;
            position: absolute;
            left: 0;
            top: 35px;
            z-index: 9;
        }
    }
}

.tips {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 299px;
    height: 60px;
    border-radius: 20px;
    background: #fff;
    &__icon {
    }
    &__desc {
    }
}

.highlight {
    color: var(--color-secondary-main); /* Tô màu đỏ */
    text-decoration: underline; /* Gạch chân */
}

.bonus-service {
    background: #e8e6e3;
    position: relative;
    margin-top: 40px;

    &__inner {
        padding: 70px 0px 100px 0px;
    }

    &__heading {
        color: #000;
        font-size: 32px;
        font-weight: 600;
        line-height: 38px;
        margin-bottom: 30px;
        text-align: center;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .slick-dots {
        position: absolute;
        bottom: -42px;
        color: red;
    }
    .ant-carousel .slick-dots li {
        width: 10px; /* Đặt kích thước của dấu chấm */
        height: 10px;
    }

    .ant-carousel .slick-dots li button {
        width: 100%;
        height: 100%;
        background-color: #d3d3d3; /* Màu sắc mặc định của dấu chấm */
        border-radius: 50%; /* Dấu chấm tròn */
        opacity: 1; /* Đảm bảo dấu chấm hiển thị rõ */
        border: 2px solid #ccc; /* Đường viền quanh dấu chấm */
        transition: background-color 0.3s ease; /* Hiệu ứng chuyển màu */
    }

    /* Dấu chấm đang được active (chọn) */
    .ant-carousel .slick-dots li.slick-active button {
        background-color: #1890ff; /* Màu xanh khi dấu chấm được active */
        border-color: #1890ff; /* Màu viền khi active */
    }

    &__item {
        flex: 1; /* Để các item trong flex chiếm đều không gian */
        max-width: 96%;
        height: 380px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin: 0 10px; /* Khoảng cách giữa các item */
    }

    &__img {
        width: 362px;
        height: 229px;
    }

    &__section {
        padding: 20px;
    }

    &__item--heading {
        color: #000;
        font-size: 20px;
        font-weight: 600;
        line-height: 28px; /* 140% */
    }

    &__item--desc {
        color: #000;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px; /* 150% */
    }
}

.experience-section {
    background: #d9e4ed;
    position: relative;

    &__inner {
        padding: 70px 0px 100px 0px;
    }

    &__heading {
        color: #000;
        font-size: 32px;
        font-weight: 600;
        line-height: 38px;
        margin-bottom: 30px;
        text-align: center;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        max-width: 1200px;
    }

    .slick-dots {
        position: absolute;
        bottom: -42px;
        color: red;
    }
    .ant-carousel .slick-dots li {
        width: 10px; /* Đặt kích thước của dấu chấm */
        height: 10px;
    }

    .ant-carousel .slick-dots li button {
        width: 100%;
        height: 100%;
        background-color: #d3d3d3; /* Màu sắc mặc định của dấu chấm */
        border-radius: 50%; /* Dấu chấm tròn */
        opacity: 1; /* Đảm bảo dấu chấm hiển thị rõ */
        border: 2px solid #ccc; /* Đường viền quanh dấu chấm */
        transition: background-color 0.3s ease; /* Hiệu ứng chuyển màu */
    }

    /* Dấu chấm đang được active (chọn) */
    .ant-carousel .slick-dots li.slick-active button {
        background-color: #1890ff; /* Màu xanh khi dấu chấm được active */
        border-color: #1890ff; /* Màu viền khi active */
    }

    &__item {
        flex: 1; /* Để các item trong flex chiếm đều không gian */
        max-width: 96%;
        height: 368px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease;
        margin: 0 10px; /* Khoảng cách giữa các item */
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }

    &__section {
        padding: 20px;
        position: absolute;
        bottom: 0;
        left: 0;
    }

    &__item--heading {
        color: #fff;
        font-size: 24px;
        font-weight: 600;
        line-height: 28px; /* 116.667% */
        margin-bottom: 10px;
    }

    &__item--desc {
        color: #fff;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        max-width: 400px;
        margin-bottom: 10px;
    }
    &__item--action {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
        color: #fff;
        font-size: 24px;
        font-weight: 600;
        line-height: 28px; /* 116.667% */
        text-decoration: underline;
        cursor: pointer;
    }
}

.ant-input:focus,
.ant-button:focus,
.ant-input-focused,
.ant-select-focused .ant-select-selector {
    border: none !important; // Đặt lại border mặc định
    box-shadow: none !important; // Loại bỏ shadow màu xanh
}

.ant-select-item-option-active {
    background-color: none !important; // Loại bỏ màu nền khi hover vào tùy chọn
}

.popular {
    padding-top: 50px;
    &__inner {
    }
    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__heading {
        color: #000;
        font-size: 32px;
        font-weight: 600;
        line-height: 38px;
        margin-bottom: 30px;
        text-align: center;
    }
    &__content {
        margin-top: 30px;
    }
    &__list {
        .slick-dots li {
            margin: 0 5px; /* Khoảng cách giữa các dots */
        }
        .slick-dots li button {
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background-color: #ccc; /* Màu sắc của dot */
            border: none;
            padding: 0;
            cursor: pointer;
        }
        .slick-dots li.slick-active button {
            background-color: var(
                --color-secondary-light
            ); /* Màu của dot active */
            width: 14px; /* Tăng kích thước của dot active */
            height: 14px;
        }
        .slick-dots li button:hover {
            background-color: var(--color-secondary-dark); /* Màu khi hover */
        }
    }
    &__item {
        border-radius: 20px;
        position: relative;

        &--heading {
            color: #fff;
            font-size: 28px;
            font-weight: 600;
            line-height: 34px; /* 121.429% */
            margin-bottom: 10px;
        }
        &--desc {
            color: #fff;
            font-size: 16px;
            font-weight: 500;
            line-height: 24px; /* 150% */
            max-width: 414px;
            margin-bottom: 10px;
        }
        &--action {
            bottom: -25px;
            left: 0;
            color: #fff;
            font-size: 18px;
            font-weight: 600;
            line-height: 28px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 8px;
            &::before {
                content: "";
                width: 130px;
                height: 2px;
                flex-shrink: 0;
                background: #fff;
                position: absolute;
                left: 0;
                bottom: -10px;
                z-index: 9;
            }
        }
    }
    &__img {
        width: 100%;
        height: 565px;
        object-fit: cover;
        border-radius: 20px;
    }
    &__section {
        position: absolute;
        bottom: 35px;
        left: 30px;
    }
    &__thumb {
        position: absolute;
        right: 50px;
        bottom: 0;
        width: 360px;
        height: 165px;
        border-radius: 20px 20px 0px 0px;
        background: rgba(0, 48, 84, 0.9);
        &--img {
            width: 168px;
            height: 120px;
            object-fit: cover;
            border-radius: 20px 20px 20px 0px;
            margin-top: -40px;
        }
        &--text {
            color: #fff;
            font-size: 12px;
            font-weight: 400;
        }
        &--title {
            color: #fff;
            font-size: 16px;
            font-weight: 500;
            line-height: 24px; /* 150% */
            position: absolute;
            top: 14px;
            right: 50px;
        }
    }
    .slick-dots {
        position: absolute;
        bottom: 45px;
        left: 73%;
        display: flex !important;
        justify-content: center;
        list-style: none;
        padding: 0;
        margin: 0;
    }
}

.promotion {
    margin-top: 50px;

    background-image: url("public/images/promotion.png");
    width: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 50px 0px;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        position: relative;
    }
    &__section {
    }
    &__heading {
        color: #fff;
        font-size: 20px;
        font-weight: 500;
        line-height: 24px; /* 150% */
        margin-bottom: 10px;
    }
    &__desc {
        color: #fff;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px; /* 142.857% */
        width: 500px;
    }
    &__row {
    }
    &__form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        gap: 15px;
        &-group {
            display: flex;
            justify-content: space-around;
            align-items: flex-start;
            flex-direction: column;
        }
    }
    &__input {
        width: 170px;
        height: 48px;
        color: var(--Gray-4, #6d717f);
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        padding: 10px;
        outline: none;
        border-radius: 10px;
        &-group {
            display: flex;
            justify-content: space-around;
            align-items: center;
            gap: 20px;
            flex-wrap: wrap;
        }
    }
    &__label {
        color: #fff;
        margin-bottom: 8px;
    }

    &__submit {
        width: 168px;
        height: 48px;
        color: #fff;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        text-align: center;
        border-radius: 10px;
        outline: none;
        border: none;
        margin-left: 25px;
        background: var(--Secondary-2, #327c23);
    }
    & {
    }
}

.w-340 {
    width: 265px;
}

.w-360 {
    width: 360px;
}

.hotflight {
    margin: 50px 0px 100px 0px;
    &__inner {
    }
    &__heading {
        color: #000;
        font-size: 32px;
        font-weight: 600;
        line-height: 38px; /* 118.75% */
    }
    &__list {
        margin-top: 30px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 9999px;
    }
    &__item {
        max-width: 270px;
        height: 350px;
        margin-left: 5px;
        border-radius: 10px;
        background: #fff;
        outline: none;
        border: none;
    }
    &__img {
        height: 200px;
        width: 270px;
        object-fit: cover;
        border-radius: 10px;
    }
    &__section {
        padding: 20px;
        &--heading {
            color: #000;
            font-size: 20px;
            font-weight: 600;
            line-height: 28px; /* 140% */
        }
        &--desc {
            color: #000;
            font-size: 14px;
            font-weight: 400;
            line-height: 24px; /* 150% */
        }
    }
    .slick-dots {
        position: absolute;
        bottom: -42px;
        color: red;
    }
    .ant-carousel .slick-dots li {
        width: 10px; /* Đặt kích thước của dấu chấm */
        height: 10px;
    }

    .ant-carousel .slick-dots li button {
        width: 100%;
        height: 100%;
        background-color: #d3d3d3; /* Màu sắc mặc định của dấu chấm */
        border-radius: 50%; /* Dấu chấm tròn */
        opacity: 1; /* Đảm bảo dấu chấm hiển thị rõ */
        border: 2px solid #ccc; /* Đường viền quanh dấu chấm */
        transition: background-color 0.3s ease; /* Hiệu ứng chuyển màu */
    }

    /* Dấu chấm đang được active (chọn) */
    .ant-carousel .slick-dots li.slick-active button {
        background-color: #1890ff; /* Màu xanh khi dấu chấm được active */
        border-color: #1890ff; /* Màu viền khi active */
    }

    &-form {
        padding: 20px;
        background-color: #ffffff;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        :focus {
            border: none;
        }
        h2 {
            text-align: center;
            color: #333;
            margin-bottom: 20px;
        }

        label {
            display: block;
            margin-bottom: 8px;
            font-weight: 600;
            color: #555;
        }

        .input__inner {
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: column;
        }

        .input__book {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
            gap: 20px;
        }

        .input-field-wrap {
            display: flex;
            gap: 10px;
        }

        .input__form {
            width: 222px;
            height: 58px;
            outline: none;
        }

        .input__form_2 {
            width: 111px;
            height: 58px;

            outline: none;
        }
        .input-field {
            position: relative;
            border: 1px solid var(--color-border-main);
            border-radius: 5px;
            width: 222px;
            input,
            .ant-input {
                border: none;
                height: 58px;
                font-size: 16px;
                outline: none;
                padding: 15px 0px 0px 15px;
                color: #000;
                font-size: 16px;
                font-weight: 500;
                width: 220px;
                line-height: 30px;
                border-radius: 5px;
                background: #f9fafb;
            }
            label {
                position: absolute;
                top: 10px;
                left: 15px;
                z-index: 2;
                color: var(--Gray-4, #6d717f);
                font-size: 14px;
                font-weight: 500;
            }
        }

        .trip-type {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            label {
                margin-right: 20px;
                font-weight: 500;
                color: #333;
            }
        }

        button {
            margin-top: 20px;
            width: 160px;
            height: 50px;
            background-color: var(--color-secondary-dark);
            border: none;
            border-radius: 4px;
            color: white;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            z-index: 3;
        }
        .error-message {
            background: #fef3f2;
            padding: 15px;
            border-radius: 40px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            color: red;
            font-size: 16px;
            font-weight: 500;
            gap: 10px;
            &--text {
                font-size: 16px;
                font-weight: 300;
            }
        }
    }
}
