.input {
    width: 100%;
    height: 48px;
    padding: 10px 15px;
    border: 1px solid #c3c3c3;
    border-radius: 5px;
    background-color: #f9fafb;
    font-size: 16px;
    color: #b8b5b5;
    width: 100%;
    outline: none;
    box-sizing: border-box;
    padding-left: 36px;
    transition: all 0.3s;
}
.input:focus {
    color: #333;
    border: 1px solid #333;
}

.input.has_error{
    border: 1px solid #d92d20;
    color: #333;
}

.error.has_error {
    opacity: 100;
    visibility: visible;
}

.input:focus ~ .block_icon {
    color: #333;
}
.block_email {
    width: 100%;
    position: relative;
}
.block_icon {
    position: absolute;
    top: 11px;
    left: 11px;
    font-size: 20px;
    color: #b8b5b5;
    transition: all 0.3s;
}
.block_icon.has_error {
    color: #d92d20;
}
.error {
    height: 10px;
    width: 100%;
    display: inline-block;
    padding: 1px;
    opacity: 0;
    visibility: hidden;
    display: block;
    color: #d92d20;
    font-style: italic;
    margin-top: 6px;
    transition: all 0.3s;
}
.row_btn {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.btn {
    padding: 8px 20px;
    outline: none;
    border: 1px solid #c3c3c3;
    border-radius: 8px;
}
.btn_submit {
    background-color: #64af53;
}

.loading {
    top: 9px;
    left: 224px;
    position: absolute;
    width: 20px; /* Kích thước của vòng tròn */
    height: 20px;
    border: 2px solid rgba(221, 9, 9, 0.3); /* Màu nền vòng tròn */
    border-top-color: #fff; /* Màu phần khuyết */
    border-radius: 50%; /* Bo góc thành hình tròn */
    animation: spin 1s linear infinite; /* Hiệu ứng xoay */
  }
  
  /* Định nghĩa hiệu ứng xoay */
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

.btn_cancel {
    background-color: #c2c6ce;
}
.btn:focus {
    outline: none; /* Remove default outline */
}
.btn_cancel:hover {
    background-color: #cab0ae;
}

.loginForm .wrapper {
    padding-bottom: 15px;
}


.has_loading {
    display: flex;
    align-items: center;
    justify-content: center;
  }