// Biến cho màu sắc và font
$primary-color: #007bff;
$border-color: #858383;
$bg-color-light: #f4f4f4;
$bg-color-even: #f9f9f9;
$font-size-base: 16px;
$font-size-small: 14px;

// Cấu trúc của body
body {
  font-family: Arial, sans-serif;
}

// Cấu trúc cho button container
.button-container {
  display: flex;
  align-items: center;
  gap: 30px;
  margin: 0;

  // Cấu trúc cho phần tìm kiếm
  .search-sort-controls {
    margin: 0;
    justify-content: flex-start !important;

    input {
      width: 500px;
      border-radius: 4px;
      padding: 5px 10px;
      outline: none;
      height: 38px;
      border: 1px solid $border-color;
      margin: 0;
    }
  }

  // Cấu trúc cho nút thêm
  .add-btn {
    padding: 7px 21px;
    background-color: white;
    color: $primary-color;
    border: 1px solid $primary-color;
    border-radius: 4px;
    cursor: pointer;
    font-size: $font-size-base;
    margin-right: 25px;
    transition: background-color 0.3s;
    height: 100%;

    &:hover {
      color: white;
      background-color: $primary-color;
      // transform: scale(1.05); // Có thể mở lại nếu cần hiệu ứng phóng to
    }

    &:active {
      transform: scale(0.98); // Hiệu ứng khi nhấn
    }
  }
}

.container-action {
  vertical-align: middle;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
