.thead-custom th{
  background-color: #343A40;
  text-align: center;
  vertical-align: middle;
}

.tbody-custom .btn-action{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55.2px;
  border-top: none;
}

.tbody-custom .btn-action .btn-custom {
  width: 76.53px;
  height: 31.6px;
  color: #1976d2;
  border: 1px solid #1976d2;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 9px;
  transition: background-color 0.5s ease;
}

.tbody-custom .btn-action .btn-custom:hover {
  background-color: #1976d2;
  color: white;
}

.tbody-custom .btn-action .btn-custom:hover .MuiSvgIcon-root {
  color: white; /* Màu icon khi hover */
}

.notificateTable{
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 20px;
  font-weight: bold;
}


